@import 'settings';
@import 'foundation';
@import 'machine-section';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-table;
@include foundation-menu;
@include foundation-accordion-menu;


h1 {
  font-size: map-get($font-size, h1);
  text-transform: capitalize;
}

h2 {
  font-size: map-get($font-size, h2);
  text-transform: uppercase;
  border-bottom: 1px solid $seperator-color;
}

h3 {
  font-size: map-get($font-size, h3);
  text-transform: capitalize;
  margin-bottom: 0;
  color: map-get($colors, middle-blue);
}

h4 {
  font-size: map-get($font-size, h4);
  margin-bottom: 0;
}

h5 {
  font-size: map-get($font-size, h5);
  margin-bottom: 0;
}


#human-section {
  height: 100vh;
  overflow-y: scroll;

  .block-description {
    color: map-get($description-colors, human-section);
  }

  @include breakpoint(large down) {
    padding-right: 1.5em;
  }

  @include breakpoint(small down) {
    padding-left: 1.5em;
  }
}

.block-description {
  margin-top: .5em;
}


.group {
  .content {
    padding-left: 1em;
  }
}

.ressource {
  margin-bottom: 5em;
}

.attributes {
  .variable-table {
    .name {
      vertical-align: top;
    }
    .description {
      display: block;
    }
  }
}

.variable-table {

  tbody {
    border: none;
  }

  tr {
    padding-top: .5em;
    border-color: $table-row-border-color;
  }

  .name {
    font-family: monospace;
    font-size: 1.1em;
    font-weight: bold;
  }

  .datatype {
    font-family: monospace;
    font-size: 1.1em;
    vertical-align: top;
  }

  .default-value {
    font-family: monospace;
  }

  .required,
  .optional {
    border: 1px solid white;
    border-radius: 8px;
    padding: .3em .5em;
    font-family: monospace;
  }

  .required {
    border-color: map-get($colors, red);
    color: map-get($colors, red);
  }

  .optional {
    border-color: map-get($colors, light-grey);
    color: map-get($colors, light-grey);
  }
}

.actions {
}

.action {
  height: auto;
  border: 1px solid #fff;
  background-color: #f2f2f2;
  display: flex;

  &:hover {
    background-color: $action-hover-color;
    cursor: pointer;
  }

  .http-method-flag {
    display: block;
    width: 8px;

    &.get {
      background-color: map-get($method-colors, get);
    }

    &.post {
      background-color: map-get($method-colors, post);
    }

    &.put {
      background-color: map-get($method-colors, put);
    }

    &.patch {
      background-color: map-get($method-colors, patch);
    }

    &.delete {
      background-color: map-get($method-colors, delete);
    }
  }

  .action-name {
    display: block;
    margin: .3em 0 .3em 1em;
    font-weight: bold;
    font-size: 1.4em;
  }
}

.http-method-badge {
  border: 1px solid white;
  border-radius: 5px;
  padding: .1em .6em;
  font-weight: bold;
  font-family: monospace;

  &.get {
    color: map-get($method-colors, get);
    border-color: map-get($method-colors, get);
  }

  &.post {
    color: map-get($method-colors, post);
    border-color: map-get($method-colors, post);
  }

  &.put {
    color: map-get($method-colors, put);
    border-color: map-get($method-colors, put);
  }

  &.patch {
    color: map-get($method-colors, patch);
    border-color: map-get($method-colors, patch);
  }

  &.delete {
    color: map-get($method-colors, delete);
    border-color: map-get($method-colors, delete);
  }
}

#toc {
  padding: 1.5em 1em 0 1em;
  background-color: #f2f2f2;

  a {
    padding-left: 0!important;
    color: black;
    &:hover {
      color: black;
    }
    &:visited {
      color: black;
    }
  }

  li:hover > a:first-child {
    color: #777;
  }

  @include breakpoint(medium) {
    display: block;
  }

  @include breakpoint(small down) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.toc-button {
  position: absolute;
  top: 2em;
  left: .5em;
  z-index: 100;

  @include breakpoint(medium) {
    display: none;
  }
}

.toc-group {
  text-transform: uppercase;

}

.toc-action {
  .title {
    display: block;
    margin-top: .4em;
  }
}
