<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta name = "viewport" content = "width = device-width, initial-scale = 1.0" />
      <link href="css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <button class="toc-button" onclick="toggleToc()">&#9776;</button>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-3 large-2 hide" id="toc">
        <h4>Table of Contents</h4>
        <ul class="vertical menu">
          {{#groups}}
          <li>

            <a href="#group-{{id}}" class="toc-group">{{title}}</a>
            <ul  class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">

              {{#resources}}
              <li>
                <a href="#ressource-{{id}}" class="toc-ressource">{{title}}</a>

                <ul class="menu vertical nested">

                  {{#actions}}
                  <li class="toc-action">
                    <a href="#action-{{id}}">
                      <span class="http-method-badge {{httpMethodClass}}">{{httpMethod}}</span>
                      <span class="title">{{title}}</span>
                    </a>
                  </li>
                  {{/actions}}

                </ul>
              </li>
              {{/resources}}
          </ul>
          </li>
          {{/groups}}

        </ul>
      </div>

      <div class="cell medium-9 large-5" id="human-section">
        <h1>{{title}}</h1>

        <p class="block-description">{{description}}</p>

        {{#groups}}
        <div class="group" id="group-{{id}}">
          <h2>{{title}}</h2>
          <p class="block-description">{{description}}</p>

          <div class="content">
            {{#resources}}
            <div class="ressource" id="ressource-{{id}}">
              <h3>{{title}} - {{url}}</h3>      <!-- TODO change style of URL -->
              <p class="block-description">{{description}}</p>

              <div class="attributes">
                <h4>Attributes</h4>
                <table class="unstriped variable-table">
                  <tbody>
                    {{#attributes}}
                    <tr>
                      <td class="name">{{name}}</td>
                      <td>
                        <span class="datatype">{{dataType}}</span>
                      </td>
                      <td>
                        <span class="description">{{description}}</span>
                      </td>
                      <td>
                         <span class="default-value">- {{defaultValue}}</span>
                      </td>
                    </tr>
                    {{/attributes}}
                  </tbody>
                </table>
              </div>

              <div class="actions">
                {{#actions}}
                <div class="action" id="action-{{id}}" onclick="openMs({{id}})">
                  <div class="http-method-flag {{httpMethodClass}}"></div>
                  <span class="action-name">{{title}}</span>
                </div>
                {{/actions}}
              </div> <!-- actions -->
            </div> <!-- ressource -->
            {{/resources}}

          </div> <!-- group content -->
        </div> <!-- group -->
        {{/groups}}

      </div> <!-- human section -->

      {{#groups}}
      {{#resources}}
      {{#actions}}

      <!-- Detailed Actions -->

      <div class="cell large-5 machine-section hide" id="ms-action-{{id}}">
        <div class="ms-head">
          <button onclick="closeMs({{id}})" class="closeMsButton">x</button>

          <h3 class="ms-heading">
            {{title}}
          </h3>
        </div>

        <div class="ms-url">
          <div class="http-method-badge {{httpMethodClass}}">
            {{httpMethod}}
          </div>
          <p class="url">{{url}} <!-- TODO write last part bold /<span class="url-action">notes</span>/ -->
          </p>
        </div>

        <p class="block-description">
          {{description}}
        </p>

        <div class="seperator"></div>
        {{#hasGETParameters}}
        <div class="parameters">
          <h4>Parameters</h4>
          <table class="unstriped variable-table">
            <tbody>
              {{#getParameters}}
              <tr>
                <td class="name"><span>{{name}}</span></td>
                <td>
                  <span class="required">{{#isRequired}}req{{/isRequired}}{{^isRequired}}opt{{/isRequired}}</span>  <!-- TODO change to string -->
                </td>
                <td>
                  <span class="datatype">{{dataType}}</span>
                </td>
                <td>
                  <span class="description">{{description}}</span>
                </td>
                <td>
                  <span class="default-value">- {{defaultValue}}</span>
                </td>
              </tr>
              {{/getParameters}}
              {{#resourceGetParameters}}
              <tr>
                <td class="name"><span>{{name}}</span></td>
                <td>
                  <span class="required">{{#isRequired}}req{{/isRequired}}{{^isRequired}}opt{{/isRequired}}</span>  <!-- TODO change to string -->
                </td>
                <td>
                  <span class="datatype">{{dataType}}</span>
                </td>
                <td>
                  <span class="description">{{description}}</span>
                </td>
                <td>
                  <span class="default-value">- {{defaultValue}}</span>
                </td>
              </tr>
              {{/resourceGetParameters}}
            </tbody>
          </table>
        </div>
        <div class="seperator"></div>
        {{/hasGETParameters}}

        {{#hasAttributes}}
        <div class="attributes">
          <h4>Attributes</h4>
          <table class="unstriped variable-table">
            <tbody>
              {{#attributes}}
              <tr>
                <td class="name">{{name}}</td>
                <td>
                  <span class="datatype">{{dataType}}</span>
                </td>
                <td>
                  <span class="description">{{description}}</span>
                </td>
                <td>
                  <span class="default-value">- {{defaultValue}}</span>     <!-- TODO fix formatting -->
                </td>
              </tr>
              {{/attributes}}
            </tbody>
          </table>
        </div>

        <div class="seperator"></div>

        {{/hasAttributes}}

        {{#requests}}
        <div class="request">
          <div class="heading">
            <h4>Request</h4>
          </div>

          <div class="message-headers">
            <h5>Headers</h5>
            <!-- TODO Support headers -->
<pre class="json">
<span class="key">Content-Type</span>: <span class="text">application/json</span>
</pre>
          </div>

          <p class="block-description">{{description}}</p>
          {{#jsonExample}}
          <div class="message-body">
            <h5>Body</h5>
<pre class="json">
{{jsonExample}}
</pre>
          </div>
          {{/jsonExample}}
        </div>
        {{/requests}}

        <div class="seperator"></div>

        {{#responses}}
        <div class="response">
          <div class="heading">
            <h4>Response</h4>
            <div class="message-code success">
              <span class="code">{{httpStatusCode}}</span>
              <!-- TODO Status code message support
              <span class="status">
                success
              </span>
              -->
            </div>
          </div>

          <p class="block-description">{{description}}</p>

          <div class="message-headers">
            <h5>Headers</h5>
            <!-- TODO support headers -->
<pre class="json">
<span class="key">Content-Type</span>: <span class="text">application/json</span>
</pre>
          </div>

          <div class="message-body">
            <h5>Body</h5>
<pre class="json">
{{jsonExample}}
</pre>
          </div>
        </div>
        {{/responses}}
      </div>
      {{/actions}}
      {{/resources}}
      {{/groups}}
      <!-- End of ms-section-x (Detailed Actions) -->

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/foundation.min.js"></script>

    <script>
    $(document).ready(function() {
      $(document).foundation();
    });
    </script>

    <script>
      function closeMs(actionId) {
        document.getElementById("ms-action-" + actionId).classList.add("hide");
      }
      function openMs(actionId) {
        Array.from(document.getElementsByClassName("machine-section")).forEach(function(e) {
            e.classList.add("hide");
          })
        document.getElementById("ms-action-" + actionId).classList.remove("hide");
      }

      function toggleToc() {
        document.getElementById("toc").classList.toggle("hide");
      }
    </script>

  </body>
</html>
